---
import Navbar from "../components/navbar.astro";
import { WEBSITE_NAME } from "../constants/name";

const darkMode = true; // get state from button
---

<html lang="en" class="dark-bg-gray-900">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{WEBSITE_NAME}</title>
	</head>
	<body >
		<Navbar />
		<h1>Astro</h1>
	</body>
</html>

